*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: green url('./../imagens/Fundo.jpg') left center fixed;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
        
}

h1 {
    background-color: rgb(0, 128, 0);
    color: yellow;
    text-shadow: 2px 2px black;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Rubik Wet Paint', cursive;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal {
    width: 55vw;
    height: 65vh;
    border: white solid 2px;
    border-radius: 10px;
    background: green url('./../imagens/jesse-pinkman-science.gif')  left bottom ;
    background-size: cover;
    padding: 20px;

}

.conteudo {
    margin: 10px;
    padding: 5px;
    text-shadow: 2px 2px black;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin-top: 295px;
}

button {
    width: 120px;
    height: 50px;
    background-color: green;
    color: yellow;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;

}

button:hover {
    width: 200px;
    height: 80px;
    color: green;
    background-color: rgb(255, 255, 0);
    transition: 2s;

}


@media(max-width: 769px) {
    body {
        font-size: 15px;
    }

    .principal {
        width: 80vw;
        height: 58vh;
    }

    button {
        margin-top: 35px;
    }
}

@media (max-width: 426px) {
    body {
        font-size: 12px;
    }
.principal {
    width: 95vw;
    height: 65vh;
    background: green url('./../imagens/jesse-pinkman-science.gif') no-repeat  center bottom ;
    background-size: cover ;
}

}

@media(max-width: 376px) {
    body {
        height: 100%;
    }

    .principal {
        width: 95vw;
        height: 60vh;
        background: green url('./../imagens/jesse-pinkman-science.gif') no-repeat  center bottom ;
        background-size: cover ;
        
    }


}


@media(max-width: 321px) {
    body {
        height: 100%;
        font-size: 12px;
        color: yellow;
        
        
    }

    .principal {
        width: 100vw;
        height: 50vh;
        background: green url('./../imagens/jesse-pinkman-science.gif') no-repeat  center bottom ;
        background-size: cover ;
    }

    .botao {
        margin-top: -125px;
    }
    
}