*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 95vh;
    color: white;
    background-color: green(0, 0, 0);
    background-image: url(./../imagens/Fundo.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    background-color: rgb(0, 128, 0);
    color: rgb(255, 255, 0);
    font-size: 55px;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Rubik Wet Paint', cursive;
    margin: 40px;
}

h2 {
    background-color: rgb(0, 128, 0);
    color: rgb(255, 255, 0);
    font-size: 35px;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Rubik Wet Paint', cursive;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-image: url('./../imagens/Fundo-1.jpg');
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 70%;
    height: 65vh;
    margin-top: 50px;
}

.container > h2 {
    display: flex;
    justify-items: center;
    color: green;
}
img {
    width: 220px;
    height: 220px;
}

a {
    text-decoration: none;
}
.conteudo {
    background: #628C61;
    border: white solid 3px;
    border-radius: 10px;
    cursor: pointer;
    
}

.conteudo:hover {
    transform: scale(1.1);
    border-color: #628C61;
}

p {
    color: rgb(255, 255, 0);
    text-transform: uppercase;
}

@media(max-width: 769px) {
    body {
        width: 100%;
        height: 100%;
    }
    
    h1{
        margin-top: 15px;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 95vw;
        height: 60vh;
    }

    img {
        width: 25vw;
        height: 30vh;
    }
    
}

@media (max-width: 426px){


img {
    width: 25vw;
    height: 15vh;
}
}

