*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    background: green url(./../imagens/Fundo.jpg) center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-top: 35px;
}

h1 {
    background-color: rgb(0, 128, 0);
    color: rgb(255, 255, 0);
    font-size: 55px;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Rubik Wet Paint', cursive;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif {
    display: flex;
    justify-content: center;
    align-items: center;
    background: green url('./../imagens/game-over-saul.gif') center bottom;
    background-size: cover; 
    font-size: 100px;
    border: 3px solid white;
    border-radius: 15px;
    width: 75vw;
    height: 65vh;
    padding: 15px;
    margin-top: 20px;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Rubik Wet Paint', cursive;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 30px;
}

button {
    text-transform: uppercase;
    font-weight: bolder;
    width: 150px;
    height: 55px;
    cursor: pointer;
    background-color: rgb(0,128,0);
    color: rgb(255, 255, 0);
    border-radius: 10px;
}

a {
    text-decoration: none;
}

button:hover {
    width: 200px;
    height: 80px;
    color: green;
    background-color: rgb(255, 255, 0);
    transition: 2s;

}

@media(max-width:426px) {

    .gif {
        width: 95vw;
        font-size: 70px;
    }
}

@media(max-width:376px) {

    .gif {
        font-size: 50px;
    }
}